//vendors
// $vendors: "-moz-",
// "-webkit-",
// "-o-",
// "-ms-",
// "";
// colors
$textColor:#6c757d;
$startGradient:#b52eff;
$endGradient:#7e44fb;
$bgColor:#f9faff;
$footerBg:#212121;
$black:#000;
$white :#fff;
// fonts
$openFont:'Open Sans',
sans-serif;
//images Paths:
$mainBg:"../assets/img/banner/home-banner.jpg";
$heroImg:'../assets/img/right-mobile.png';